<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Gui"/>
		<service name="Report"/>
		<service name="Rtc"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<default caps="100"/>

	<start name="terminal">
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Terminal"/> </provides>
		<config copy="yes" paste="yes">
			<palette>
				<!-- srcery color scheme -->
				<color index="0x0" bg="#1C1B19"/>
				<color index="0x1" bg="#EF2F27"/>
				<color index="0x2" bg="#519F50"/>
				<color index="0x3" bg="#FBB829"/>
				<color index="0x4" bg="#2C78BF"/>
				<color index="0x5" bg="#E02C6D"/>
				<color index="0x6" bg="#0AAEB3"/>
				<color index="0x7" bg="#D0BFA1"/>
				<color index="0x8" bg="#918175"/>
				<color index="0x9" bg="#F75341"/>
				<color index="0xa" bg="#98BC37"/>
				<color index="0xb" bg="#FED06E"/>
				<color index="0xc" bg="#68A8E4"/>
				<color index="0xd" bg="#FF5C8F"/>
				<color index="0xe" bg="#53FDE9"/>
				<color index="0xf" bg="#FCE8C3"/>
			</palette>

			<vfs> <dir name="fonts"> <fs/> </dir> </vfs>
		</config>
		<route>
			<service name="Gui">         <parent label="terminal"/> </service>
			<service name="File_system"> <parent label="fonts"/>    </service>
			<service name="Report" label="clipboard"> <parent label="clipboard"/> </service>
			<service name="ROM"    label="clipboard"> <parent label="clipboard"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="vfs" caps="150">
		<resource name="RAM" quantum="24M"/>
		<provides><service name="File_system"/></provides>
		<config>
			<vfs>
				<tar name="bash-minimal.tar"/>
				<tar name="coreutils.tar"/>
				<tar name="vim-minimal.tar"/>
				<tar name="grep.tar"/>
				<tar name="sed.tar"/>
				<tar name="findutils.tar"/>
				<dir name="dev">
					<zero/> <null/> <terminal/>
					<rtc/>
				</dir>
				<dir name="mnt1"> <fs label="mnt1"/> </dir>
				<dir name="mnt2"> <fs label="mnt2"/> </dir>
				<dir name="pipe"> <pipe/> </dir>
				<dir name="tmp"> <ram /> </dir>
				<dir name="share">
					<dir name="vim">
						<rom name="vimrc" binary="no"/>
					</dir>
				</dir>
			</vfs>

			<policy label_prefix="vfs_rom" root="/"/>
			<default-policy root="/" writeable="yes"/>
		</config>
		<route>
			<service name="File_system" label="mnt1"> <parent label="mnt1"/> </service>
			<service name="File_system" label="mnt2"> <parent label="mnt2"/> </service>
			<service name="ROM" label="vimrc"> <parent label="vimrc"/> </service>
			<service name="Terminal"> <child name="terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs_rom">
		<resource name="RAM" quantum="16M"/>
		<binary name="cached_fs_rom"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="/bin/bash" caps="450">
		<resource name="RAM" quantum="48M"/>
		<exit propagate="yes"/>
		<config>
			<libc stdin="/dev/terminal" stdout="/dev/terminal"
			      stderr="/dev/terminal" rtc="/dev/rtc" pipe="/pipe"/>
			<vfs> <fs/> </vfs>

			<arg value="bash"/>
			<env key="TERM" value="screen"/>
			<env key="PATH" value="/bin"/>
			<env key="PS1"  value="$PWD; "/>
			<env key="HOME" value="/"/>
		</config>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label_suffix=".lib.so"> <parent/> </service>
			<service name="ROM" label_last="/bin/bash"> <child name="vfs_rom"/> </service>
			<service name="ROM" label_prefix="/bin">    <child name="vfs_rom"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

</config>